.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 35px;
}
.col{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}
.coverImg{
    max-width: 600px;
    max-height: 250px;
    min-height: 280px;
    width: 550px;
    height: auto;
    transition: box-shadow .35s ease-in-out;
    transition: width .95s ease-in-out;
    transition: height .95s ease-in-out;


}
.nyhedHeader{
    text-align: center;
}
.section{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;

}
.section input{
    width: 300px;
    height: 35px;
    font-family: fugaz one,proxima_novabold,helvetica neue,Arial,Helvetica,sans-serif;
}
.section h1{
  font-family: fugaz one,proxima_novabold,helvetica neue,Arial,Helvetica,sans-serif;
}

.dateColor{
    color: #a5248e;
}
.col a{
    color: #a5248e;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    font-family: fugaz one,proxima_novabold,helvetica neue,Arial,Helvetica,sans-serif;
    padding-top: 10px;
}
.col p{
  margin-top: 10px;
}
.textColorBlack{
  color: black;
}

.adddropShadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
    width: 565px;
    height: auto !important;
}
