.container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    margin-top: 35px;
}
.col{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;    
}
.coverImg{
    max-width: 600px;
    max-height: 250px;
    width: 522px;
    height: 192px;
    transition: box-shadow .35s ease-in-out;
    transition: width .95s ease-in-out;
    transition: height .95s ease-in-out;


}
.nyhedHeader{
    text-align: center;
}
.section{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;

}
.section input{
    width: 300px;
    height: 35px;
}

.dateColor{
    color: #a5248e;
}
.col a{
    color: #a5248e;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
}

.adddropShadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
    width: 535px;
    height: auto !important;
}
